# MANIFEST.in
# Include World Configuration Files
include TidalPy/WorldConfigs/*.json5
include TidalPy/WorldConfigs/*.json
include TidalPy/WorldConfigs/*.cfg

# Include Cython pxd files
global-include *.pxd
