setuptools>=52.0.0
pip>=21.0.0
wheel>=0.36.0
coverage>=6.3
dill>=0.3.2
ipympl>=0.7.0
ipython>=7.24.1
ipywidgets>=7.6.3
json5>=0.9.5
jupyter>=1.0
matplotlib>=3.4.2
numba>=0.53
numpy>=1.19.5
pytest>=6.2.4
scipy>=1.6.3
pandas>=1.2.4
psutil>=5.8.0
pathos>=0.2.0
pycddlib>=2.1
burnman>=1.0.1
geos>=0.2
cartopy>=0.18.0
