/* Change background behind logo/search area */
.wy-side-nav-search {
    background-color: #1f2a44;
    /* Other good ones: #655A7C; #1f2a44 */
}

.version-switch select {
    color: white;
}

.caption-text {
    color: #8ee2f2;
}