/* Change background behind logo/search area */
.wy-side-nav-search {
    background-color: #1f2a44;
    /* Other good ones: #655A7C; #1f2a44 */
}

.version-switch select {
    color: white !important;
}

.wy-menu .caption-text {
    color: #8ee2f2;
}

.document .caption-text {
    color: #1f2a44;
}

/* Fix spacing in directory listing on main page body. */
.rst-content section ul li > * {
    margin-bottom: 0 !important; 
    margin-top: 0 !important; 
}